body{
    padding: 0;
    margin: 0;
}

section{
    padding: 50px 100px 50px 100px;
}

.heading h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.headcolor{
    color: orange;
    margin-top: -40px;
}

.customclr{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 10px 30px 10px 30px;
    border-radius: 5px; 
}

.first-column{
    width: 40%;
}


.first-column img{
    width: 100%;
    margin-top: -220px;
    margin-left: 150px;
}

.mainsecs{
    display: flex;
}

#ptag1{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 30px;
}

#ptag2{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: 30px;
}

.heading {
    border-left: 3px solid tomato;
    padding-left: 15px;
}

.second-section{

    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.second-section h1{
    text-align: center;
}

.serviceshead{
    color: orange;
}

.main-div{
    display: flex;
}

.main-div h3{
    font-size: 25px;
    text-align: left;
}
.main-div p{
    font-size: 16px;
    text-align: left;
}

.main-div img{
    width: 40%;
}

.threecolumn{
    width: 33%;
    margin: 0px 20px 0px 20px;
}

.colorone{
    background-color: #EDF5F9;
    border-radius: 10px;
    padding: 20px;
    margin-left:2%
    margin-right:2%

}
.colorones{
    background-color: #FFF0EE;
    padding: 20px;
    border-radius: 10px;
    margin-left:2%
    margin-right:2%

}
.coloroness{
    background-color: #FFF4D6;
    border-radius: 10px;
    padding: 20px;
    margin-left:2%
    margin-right:2%
}

.seceond-secs{
    display: flex;
}

.imagewidth img{
    width: 190%;
}

.abuclr{
    color: #FFA500;
}

.seceond-secs h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    line-height: 60px;
}

.seceond-secs p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 40px;

}

.contentdiv{
    padding: 0px 30px 0px 150px;
    margin-left: 120px;
    margin-top: -10px;
}

.seceond-secscss{
    display: flex;
}

.seceond-secscss img{
    width: 70%;
    margin-left: 150px;
    margin-top: 50px;
}

.contentdivtwo{
    width: 100%;
}

.contentdivtwo h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    line-height: 60px;
}

.contentdivtwo p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 40px;
}

.fifthsec{
    display: flex;
}

section {
    display: block;
}

.third-secs img{
    width: 60%;
    margin-left: 20%;
}

.fifthdiv{
    width: 50%;
}

.fifthdiv h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    line-height: 60px;
}

.fifthdiv p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 40px;
}

#divpadding{
    padding-right: 60px;
    margin-top: 90px;
}
.corona{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.newclr{
    color: orange;
}


.fa {
    color: black;
    background-color: orange;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}

.reviewdiv{
    display: flex;
}

  .reviewdiv img{
    width: 100px;
    padding-bottom: 15px;
  }

  .reviewdiv p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;     
  }
  .reviewdiv h4{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: -5px;   
  }

  .reviewdiv h5{
      color: #FF7459;
    font-family: 'Poppins', sans-serif;
    font-size: 15px; 
    font-weight: 300px; 
    margin-top: -35px;   
  }

  .reviewdiv{
      display: flex;
  }
  .reviewflexa{
      padding: 30px;
  }
  .reviewflexs{
    padding: 30px;
}
.reviewflexd{
    padding: 30px;
}

.newspan{
    color: orange;
}